<!DOCTYPE html>
<html>
<head>
    <title>
        Lightbox
    </title>

    <meta name='name' content="Angie Roscioli's Lightbox">
    <meta name='author' content='ainjii'>
    <meta name='description' content='A sample lightbox application written entirely in Javascript. This lightbox makes no use of third party libraries, including jQuery. Completed by Angie Roscioli.'>

    <link rel='icon' href='https://raw.githubusercontent.com/ainjii/lightbox/master/favicon.ico' />
    <link href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300i" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Raleway:300" rel="stylesheet">
    <link rel='stylesheet' href='/static/css/styles.css' />
</head>
<body>
    <div id='prompt-container' class='prompt absolute-center'>
        <div id='sentient' class='h-center'></div>

        <br>

        <div id='search-container'>
            <div id='search-input' contenteditable="true"></div>
            <div id='search-prompt'></div>
        </div>
    </div>

    <div id='results'>
        <div id='close-results'>
            &lt;&lt; Search Again
        </div>
        <div id='query-reminder' class='h-center'></div>
        <div id='grid' class='h-center'></div>
        <div id='more-results' class='h-center'>&#9663; More?</div>
    </div>

    <div id='lightbox' class='absolute-center'>
        <div id='close-highlight'>
            &#8855;
        </div>
    </div>

    <div id='highlight' class='absolute-center'></div>

    <script src='/static/js/search.js'></script>
    <script src='/static/js/animate.js'></script>
    <script src='/static/js/sentient.js'></script>
    <script src='/static/js/results.js'></script>
    <script src='/static/js/init.js'></script>
</body>
</html>
