<!DOCTYPE html>
<html>
<head>
    <title>
        Lightbox
    </title>

    <meta name='name' content="Angie Roscioli's Lightbox">
    <meta name='author' content='ainjii'>
    <meta name='description' content='A sample lightbox application written entirely in Javascript. This lightbox makes no use of third party libraries, including jQuery. Completed by Angie Roscioli.'>
    <link rel='icon' href='https://raw.githubusercontent.com/ainjii/lightbox/master/favicon.ico' />
</head>
<body>
    Hello!
</body>
</html>